.tagline1 {
    border: 1px solid #fff;
    background-color: transparent;
    color: #fff;
    padding: 10px 20px;
    font-size: 16px;
    font-family: Arial, sans-serif;
    transition: background-color 0.3s, color 0.3s;
    cursor: pointer;
  }
  
  .tagline1:hover {
    background-color: #fff;
    color: #333;
  }
  .brand-title {
    font-size: 24px;
  }
  @media (max-width: 747px) {
    .brand-title {
      font-size: 10px; /* Adjust the font-size as needed for mobile devices */
      /* Add other styles specific to mobile */
    }
  }
  
  @media (max-width: 767px) {
    .tagline1 {
      margin-left: 0;
    }
  }
  
  .tagline1:active {
    background-color: #fff;
    color: #fff;
    transition: none;
  }
  