.about-container1 {
  padding-top: 130px;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  
}
.about-container {
  padding-top: 100px;
  text-align: left;
  display: flex;
  flex-wrap: wrap;
  border-radius: 10px; /* Adjust the border radius as desired */
  width : 60%
}
.about-container2{
  padding-top: 15px;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  width : 60%;
  border-radius: 10px; /* Adjust the border radius as desired */
}
@media screen and (max-width: 767px) {
  .about-container {
    width: 100%;
  }

  .mission-item {
    font-size: 10px; /* Adjust the font size to your preference */
    width: 100%; /* Adjust the width to cover 3/4th of the page horizontally */
    background-color: white; /* Set the background color to purple */
    padding: 10px; /* Add some padding around the content */
  }
}



  
  .section {
    background-color: white;
    border-radius: 10px;
    padding: 20px 0;
 
  }
  .tagline{
    padding: 20px 30px;
    text-align: center;
    font-family: 'Arial', sans-serif;
   
  }
  .vision{
  
    text-align: center;
    font-family: 'Arial', sans-serif;
    color : black
  
  }
  
  .title {
    text-align: center;
    font-family: "Arial", sans-serif;

    color: black;
  }
  .vision-item {
    font-size: 10px; /* Adjust the font size to your preference */
    width: 80%; /* Adjust the width to cover 3/4th of the page horizontally */
    background-color: black; /* Set the background color to purple */
    padding: 10px; /* Add some padding around the content */
    /* Add any other desired styling */
  }
  
  .mission-item {
    font-size: 10px; /* Adjust the font size to your preference */
    width: 90%; /* Adjust the width to cover 3/4th of the page horizontally */
    background-color: white; /* Set the background color to purple */
    padding: 10px; /* Add some padding around the content */
  }
  .about-item {
    font-size: 10px; /* Adjust the font size to your preference */
    width: 100%; /* Adjust the width to cover 3/4th of the page horizontally */
    background-color: white; /* Set the background color to purple */
    padding: 10px; /* Add some padding around the content */
    /* Add any other desired styling */
  }
  .about-item h3,
  .about-item h4 {
    color: #1a0537;
    font-size: 17px; /* Adjust the font size as desired */
  }
  
   
  .vision-item h3,
  .vision-item h4 {
    color: #1a0537;
    font-size: 17px; /* Adjust the font size as desired */
  }
  .mission-item h3,
  .mission-item h4 {
    color: #1a0537;
    font-size: 19px; /* Adjust the font size as desired */
    text-align: justify;
  }
  
  .values {
    /* CSS styles for the Values section */
    flex: 3;
    background-color: white;
    color: white;
    padding: 20px;
  }
  .paragraph-justify {
    text-align: justify;
  }
  
  @keyframes slide-up {
    0% {
      opacity: 0;
      transform: translateY(100%);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  .animate-slide-up {
    animation: slide-up 1s ease-in-out;
  }
  
  