    .social-icon a {
    margin-left: 15px; /* Adjust the margin as needed for spacing between icons */
  }
  
  .social-icon img {
    width: 30px; /* Adjust the size of the icons */
    height: 30px;
  }
  
  p {
    margin-top: 10px; /* Adjust the margin as needed for spacing between the social icons and the text */
    font-size: 14px; /* Adjust the font size as needed */
    color: #888; /* Adjust the text color as needed */
  }
  .social-icon {
    display: flex;
    align-items: left;
  }
  
  .text-md-end {
    text-align: center; /* Adjust this based on your specific requirements */
  }
  .text-left {
    text-align: center;
  }
  